<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm"
      (ngSubmit)='saveProfile(profileForm.value)'
      autocomplete="off" novalidate >
      <div class="form-group" [ngClass]=" {'error' : !validateFirstName() }">
        <label for="firstName">First Name:</label>
        <em
          *ngIf='profileForm.controls.firstName.invalid &&
            profileForm.controls.firstName.touched &&
            profileForm.controls.firstName.errors.required'>
          *Required
        </em>
        <em
          *ngIf='profileForm.controls.firstName.invalid &&
            profileForm.controls.firstName.touched &&
            profileForm.controls.firstName.errors.minlength'>
          *lenght must be minimum 6 character
        </em>

        <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error' : !validateLastName() }">
        <label for="lastName">Last Name:</label>
        <em *ngIf='profileForm.controls.lastName.invalid &&
            profileForm.controls.lastName.touched &&
            profileForm.controls.lastName.errors.pattern'>
          *Required
        </em>
        <em *ngIf='profileForm.controls.lastName.invalid &&
            profileForm.controls.lastName.touched &&
            profileForm.controls.lastName.errors.pattern'>
          *must be start with alphabets.
        </em>
        <input id="lastName" formControlName="lastName"  type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)='cancle()'>Cancel</button>
    </form>
  </div>
</div>
