<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | titlecase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date:'shortDate'}}</div>
      <div><strong>Time:</strong> {{event?.time | uppercase}}</div>
      <div><strong>Price:</strong> {{event?.price | currency: 'INR'}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>
</div>
<hr>
<div class="col-md-12">
  <b>Sessions</b>
  <a (click)="addSession()" class="pull-right">Add New Session</a>
</div>
<br>
<session-list
  *ngIf='!newMode'
  [sessions]='event?.sessions'>
</session-list>
<create-session *ngIf='newMode'
  (saveNewSession)='saveNewSession($event)'
  (cancelAddSession)='cancelAddSession()'>
</create-session>
